@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css or index.css */
::-webkit-scrollbar {
  width: 0px; /* width of scrollbar */
  height: 0px; /* for horizontal scrollbar */
}
*{
  font-family: sans-serif;
}
.typed-cursor {
  font-size: 1.5rem;   
  color:whitesmoke; 
  margin-left: 5px;    
}